.semi-progress-container {
  /* background-color: #0f0f10; */
  padding: 20px;
  width: 283px;
  text-align: center;
  border-radius: 10px;
}

.label {
  color: #fff;
  font-size: 14px;
  margin-top: 6px;
}

.semi-glow-stroke {
  filter: drop-shadow(0 0 5px #f5c32c);
}

.semi-glow-dot {
  filter: drop-shadow(0 0 8px #ffd700);
}