.progress-container {
  /* background-color: #0f0f10; */
  /*padding: 20px;*/
  width: 200px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 40px;
}

.label {
  color: #fff;
  font-size: 14px;
  margin-top: 6px;
}

.glow-stroke {
  filter: drop-shadow(0 0 5px #f5c32c);
}

.glow-dot {
  filter: drop-shadow(0 0 8px #ffd700);
}
.progress-container svg{
      margin: 0 auto;
    position: absolute;
    left: 0px;
    top: 0;
}