.popup {
  align-items: center;
  display: flex;
  flex-direction: column;
  
  padding: 40px 0px;
  position: relative;
  width: 375px;
  
}

.popup .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.popup .illustration-deleted {
  height: 199px;
  position: relative;
  width: 250px;
}

.popup .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.popup .div-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 25px;
  position: relative;
  width: 100%;
}

.popup .text-wrapper {
  align-self: stretch;
  color: var(--textprimarywhite);
  font-family: var(--h3-medium-font-family);
  font-size: var(--h3-medium-font-size);
  font-style: var(--h3-medium-font-style);
  font-weight: var(--h3-medium-font-weight);
  letter-spacing: var(--h3-medium-letter-spacing);
  line-height: var(--h3-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.popup .p {
  align-self: stretch;
  color: var(--textprimarygray-2-subtitle);
  font-family: var(--body-body-2-regular-font-family);
  font-size: var(--body-body-2-regular-font-size);
  font-style: var(--body-body-2-regular-font-style);
  font-weight: var(--body-body-2-regular-font-weight);
  letter-spacing: var(--body-body-2-regular-letter-spacing);
  line-height: var(--body-body-2-regular-line-height);
  position: relative;
  text-align: center;
}

.popup .div-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 0px 25px;
  position: relative;
  width: 100%;
}

.popup .button {
  all: unset;
  align-items: center;
  border: 1px solid;
  border-color: var(--componentsbackgroundorange);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4px;
  height: 40px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.popup .login {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--textprimarywhite);
  display: -webkit-box;
  font-family: var(--button-large-font-family);
  font-size: var(--button-large-font-size);
  font-style: var(--button-large-font-style);
  font-weight: var(--button-large-font-weight);
  letter-spacing: var(--button-large-letter-spacing);
  line-height: var(--button-large-line-height);
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.popup .login-wrapper {
  all: unset;
  align-items: center;
  background-color: var(--componentsbackgroundorange);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4px;
  height: 40px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.popup .login-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--textprimaryblack);
  display: -webkit-box;
  font-family: var(--button-large-font-family);
  font-size: var(--button-large-font-size);
  font-style: var(--button-large-font-style);
  font-weight: var(--button-large-font-weight);
  letter-spacing: var(--button-large-letter-spacing);
  line-height: var(--button-large-line-height);
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}
