.iconlargeoutlinehamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  float: left;
  /*margin-top:30px;*/
}
.notification_cls {
  /* float: left;
  width: 100%; */
  margin-left: 325px;
  margin-top: 24px;
 
 
}
