.projects .pexels-goldcircuits-24252321 {
  opacity: 0.2;
  background: url('../../../assets/images/PexelsGoldcircuits24252321.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -83px;
  width: 541px;
  height: 812px;
}
.projects .line-1 {
  margin-bottom: 6px;
  width: 28px;
  height: 0px;
}
.projects .line-2 {
  width: 28px;
  height: 0px;
}
.projects .icon-large-outline-hamburger {
  margin: 6.3px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28px;
  height: fit-content;
  box-sizing: border-box;
}
.projects .icon-large-outline-new-notification {
  position: relative;
  width: 24px;
  height: 24px;
}
.projects .frame-15 {
  margin: 0 3.5px 38.4px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 3.5px);
  box-sizing: border-box;
}
.projects .kitchen {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--h-2-medium-font-family, 'Outfit');
  font-weight: var(--h-2-medium-font-weight, 500);
  font-size: var(--h-2-medium-font-size, 24px);
  line-height: var(--h-2-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .access-all-images-and-videos {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-regular-font-family, 'Outfit');
  font-weight: var(--body-body-3-regular-font-weight, 400);
  font-size: var(--body-body-3-regular-font-size, 12px);
  line-height: var(--body-body-3-regular-line-height, 1.5);
  color: var(--text-primary-gray-2-subtitle, #B7B7B9);
}
.projects .frame-40 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.projects .login {
  margin-right: 12.4px;
  overflow-wrap: break-word;
  font-family: var(--button-small-font-family, 'Outfit');
  font-weight: var(--button-small-font-weight, 500);
  font-size: var(--button-small-font-size, 12px);
  line-height: var(--button-small-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .vector-1 {
  width: 9.3px;
  height: 5.5px;
}
.projects .icon-large-outline-chevron-down {
  margin: 6px 0 6.5px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.projects .button {
  border-radius: 8px;
  border: 1px solid var(--components-background-orange, #FFCC80);
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  padding: 6px 0 6px 18.1px;
  width: 95px;
  box-sizing: border-box;
}
.projects .frame-41 {
  margin: 0 0.5px 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.projects .rectangle-1 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.projects .vector-2 {
  width: 19px;
  height: 19px;
}
.projects .icon-large-filled-play {
  position: relative;
  margin-bottom: 155.5px;
  display: flex;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.projects .th-june-2024 {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .frame-14 {
  position: relative;
  margin: 0 1.5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.grid_div{
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  width: 100%;
}
.projects .group-8 {
  border-radius: 16px;
  width:100%;
  position: relative;
  /* margin-right: 24px; */
  display: flex;
  flex-direction: column;
  /* padding: 10.5px 0 12px 10.5px; */
  flex-grow: 1;
  flex-basis: 150.5px;
  box-sizing: border-box;
  /* margin-top: 25px; */
  height: 280px;
  
}
.projects .rectangle-11 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0.5px;
  bottom: 0px;
  height: 100%;
}
.projects .th-june-20241 {
  position: relative;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm-1 {
  position: relative;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .container {
  border-radius: 16px;
  background: url('../../../assets/images/Unsplash3Heghi4B4Gg.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 12px 12px;
  flex-grow: 1;
  flex-basis: 151px;
  box-sizing: border-box;
  height: 234px;
}
.projects .frame-27 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.projects .rectangle-12 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.projects .th-june-20242 {
  position: relative;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm-2 {
  position: relative;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .group-11 {
  border-radius: 16px;
  background: url('../../../assets/images/Unsplashcc0Gg3BegjE.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 12px 12px;
  flex-grow: 1;
  flex-basis: 150.5px;
  box-sizing: border-box;
}
.projects .rectangle-13 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.projects .vector-3 {
  width: 19px;
  height: 19px;
}
.projects .icon-large-filled-play-1 {
  position: relative;
  margin-bottom: 155.5px;
  display: flex;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.projects .th-june-20243 {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .frame-141 {
  position: relative;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.projects .group-81 {
  border-radius: 16px;
  background: url('../../../assets/images/UnsplashIh7Wpsjwomc.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10.5px 0 12px 11px;
  flex-grow: 1;
  flex-basis: 150.5px;
  box-sizing: border-box;
}
.projects .frame-291 {
  margin: 0 0.5px 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.projects .rectangle-14 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.projects .vector-4 {
  width: 19px;
  height: 19px;
}
.projects .icon-large-filled-play-2 {
  position: relative;
  margin-bottom: 155.5px;
  display: flex;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.projects .th-june-20244 {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm-4 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .frame-142 {
  position: relative;
  margin: 0 1.5px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.projects .group-111 {
  border-radius: 16px;
  background: url('../../../assets/images/UnsplashIh7Wpsjwomc.jpeg') 50% / cover no-repeat;
  position: relative;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  padding: 10.5px 0 12px 10.5px;
  flex-grow: 1;
  flex-basis: 150.5px;
  box-sizing: border-box;
}
.projects .rectangle-15 {
  border-radius: 16px;
  background: linear-gradient(180.11deg, rgba(15, 15, 16, 0) 56.6%, #0F0F10 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.projects .vector-5 {
  width: 19px;
  height: 19px;
}
.projects .icon-large-filled-play-3 {
  position: relative;
  margin-bottom: 155.5px;
  display: flex;
  align-self: flex-start;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.projects .th-june-20245 {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-medium-font-family, 'Outfit');
  font-weight: var(--body-body-3-medium-font-weight, 500);
  font-size: var(--body-body-3-medium-font-size, 12px);
  line-height: var(--body-body-3-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .pm-5 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .frame-143 {
  position: relative;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.projects .group-82 {
  border-radius: 16px;
  background: url('../../../assets/images/UnsplashIh7Wpsjwomc.jpeg') 50% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10.5px 0 12px 11px;
  flex-grow: 1;
  flex-basis: 150.5px;
  box-sizing: border-box;
}
.projects .frame-311 {
  margin-right: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.5px);
  box-sizing: border-box;
}
.projects .frame-29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.projects .frame-31 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.projects .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.projects .fill {
  width: 26.1px;
  height: 26.1px;
}
.projects .icon-large-outline-whatsapp {
  margin: 6.8px 0 7.1px 0;
  display: flex;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
}
.projects .connect-with-prova-interior-design {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-body-2-medium-font-family, 'Outfit');
  font-weight: var(--body-body-2-medium-font-weight, 500);
  font-size: var(--body-body-2-medium-font-size, 14px);
  line-height: var(--body-body-2-medium-line-height, 1.571);
  color: var(--text-primary-white, #FFFFFF);
}
.projects .any-doubts-feel-free-to-reach-out-to-us-directly {
  overflow-wrap: break-word;
  font-family: var(--body-body-3-regular-font-family, 'Outfit');
  font-weight: var(--body-body-3-regular-font-weight, 400);
  font-size: var(--body-body-3-regular-font-size, 12px);
  line-height: var(--body-body-3-regular-line-height, 1.5);
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.projects .frame-73 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.projects .frame-72 {
  box-shadow: 10px -4px 10px 4px rgba(0, 0, 0, 0.05);
  background: var(--background-vgradient-bottom-sheet, linear-gradient(180deg, #232324, #19191A));
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 0 17px 33.6px;
  box-sizing: border-box;
}
.projects {
  background: #0F0F10;
  display: flex;
  padding: 15.4px 24.5px 0 25px;
  box-sizing: border-box;
}
.projects .frame-13 {
  border-radius: 0 16px 0 8px;
    background: var(--components-background-white, #FFFFFF);
    display: flex;
    padding: 8px 12.9px 8px 12.4px;
    box-sizing: border-box;
    height: 30px;
    float: right !important;
    width: 100px;
    /* margin-left: 117px; */
    margin-top: 0;
    font-size: 12px;
    /* justify-content: end; */
    align-items: center;
    margin: 0 0 0 auto;
}
.input-field1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  /* width: 100px; */
}

.search_div{
  width:100%;
}
.search_div .search_input_div{
  width:100%;
}
.search_div .search_input_div .icon-small-outline-search{
  position: absolute;
    top: 14px;
    left: 20px;
}

.search_div .search_input_div .input {
  width: 100%;
  border-radius: 50px;
  background-color: var(--components-background-black);
  border: 1px solid #5B5B5D;
  box-sizing: border-box;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding: var(--padding-3xs) var(--padding-base); */
  gap: var(--gap-3xs);
  padding: 10px 10px 10px 56px;
  color: #ccc;
}