.project-details {
  background-color: #0e0e0f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.project-details .overlap-group-wrapper {
  background-color: #0e0e0f;
  height: 1067px;
  width: 100%;
}

.project-details .overlap-group {
  height: 1067px;
  position: relative;
}

.project-details .pexels-goldcircuits {
  height: 1027px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 375px;
}

.project-details .group {
 
  background-position: 50% 50%;
  background-size: cover;
  height: 230px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.project-details .rectangle {
  background: linear-gradient(
    180deg,
    rgba(15, 15, 16, 0.2) 0%,
    rgb(15, 15, 16) 100%
  );
  height: 230px;
}

.project-details .frame {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 40px 25px 24px;
  position: absolute;
  top: 0;
  width: 100%;
}

.project-details .icon-large-outline {
  flex: 0 0 auto !important;
  margin-left: -0.75px !important;
  position: relative !important;
}

.project-details .new-notification {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.project-details .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* left: 25px; */
  position: absolute;
  top: 254px;
  width: 100%;
  padding: 0 16px;
}

.project-details .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  background: linear-gradient(180deg, rgb(35, 35, 36) 0%, rgb(25, 25, 26) 100%);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.project-details .unsplash {
  
  
  object-fit: cover;
  position: absolute;
  top: 2px;
 
 
}

.project-details .text-wrapper {
  align-self: stretch;
  color: var(--textprimarygray-2-subtitle);
  font-family: var(--caption-regular-font-family);
  font-size: var(--caption-regular-font-size);
  font-style: var(--caption-regular-font-style);
  font-weight: var(--caption-regular-font-weight);
  letter-spacing: var(--caption-regular-letter-spacing);
  line-height: var(--caption-regular-line-height);
  margin-top: -1.00px;
  position: relative;
}

.project-details .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.project-details .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.project-details .text-wrapper-2 {
  align-self: stretch;
  color: var(--textprimarywhite);
  font-family: var(--h3-medium-font-family);
  font-size: var(--h3-medium-font-size);
  font-style: var(--h3-medium-font-style);
  font-weight: var(--h3-medium-font-weight);
  letter-spacing: var(--h3-medium-letter-spacing);
  line-height: var(--h3-medium-line-height);
  margin-top: -1.00px;
  position: relative;
}

.project-details .p {
  align-self: stretch;
  color: var(--textprimarygray-2-subtitle);
  font-family: var(--body-body-3-regular-font-family);
  font-size: var(--body-body-3-regular-font-size);
  font-style: var(--body-body-3-regular-font-style);
  font-weight: var(--body-body-3-regular-font-weight);
  letter-spacing: var(--body-body-3-regular-letter-spacing);
  line-height: var(--body-body-3-regular-line-height);
  position: relative;
}

.project-details .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.project-details .button {
  align-items: center;
  border: 1px solid;
  border-color: var(--componentsbackgroundorange);
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4px;
  height: 32px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.project-details .icon-small-outline {
  height: 20px !important;
  margin-bottom: -4.00px !important;
  margin-top: -4.00px !important;
  position: relative !important;
  width: 20px !important;
}

.project-details .login {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--textprimarywhite);
  display: -webkit-box;
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
  margin-bottom: -2.00px;
  margin-top: -4.00px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.project-details .whatsapp-instance {
  height: 20px !important;
  margin-bottom: -4.00px !important;
  margin-left: -1.75px !important;
  margin-top: -4.00px !important;
  position: relative !important;
  width: 20px !important;
}

.project-details .login-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--textprimarywhite);
  display: -webkit-box;
  font-family: var(--button-small-font-family);
  font-size: var(--button-small-font-size);
  font-style: var(--button-small-font-style);
  font-weight: var(--button-small-font-weight);
  letter-spacing: var(--button-small-letter-spacing);
  line-height: var(--button-small-line-height);
  margin-bottom: -2.00px;
  margin-right: -1.75px;
  margin-top: -4.00px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.project-details .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.project-details .categories {
  align-self: stretch;
  color: var(--textprimarygray-1-disabled);
  font-family: var(--title-medium-font-family);
  font-size: var(--title-medium-font-size);
  font-style: var(--title-medium-font-style);
  font-weight: var(--title-medium-font-weight);
  height: 22px;
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.project-details .frame-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.project-details .frame-wrapper {
  align-items: center;
  background: linear-gradient(180deg, rgb(35, 35, 36) 0%, rgb(25, 25, 26) 100%);
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 150px;
  justify-content: center;
  position: relative;
}

.project-details .frame-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 108px;
}

.project-details .img {
  height: 42px;
  position: relative;
  width: 42px;
}

.project-details .text-wrapper-3 {
  align-self: stretch;
  color: var(--textprimarywhite);
  font-family: var(--title-medium-font-family);
  font-size: var(--title-medium-font-size);
  font-style: var(--title-medium-font-style);
  font-weight: var(--title-medium-font-weight);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  position: relative;
  text-align: center;
}

.project-details .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 24px;
  position: absolute;
  top: 158px;
  width: 325px;
}

.project-details .frame-10 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.project-details .text-wrapper-4 {
  color: var(--textprimarywhite);
  font-family: var(--h3-medium-font-family);
  font-size: var(--h3-medium-font-size);
  font-style: var(--h3-medium-font-style);
  font-weight: var(--h3-medium-font-weight);
  letter-spacing: var(--h3-medium-letter-spacing);
  line-height: var(--h3-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.project-details .div-wrapper {
  align-items: center;
  background-color: var(--backgroundeventblue);
  border-radius: 4px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 60px;
}

.project-details .text-wrapper-5 {
  color: var(--textprimaryblack);
  font-family: var(--caption-regular-font-family);
  font-size: var(--caption-regular-font-size);
  font-style: var(--caption-regular-font-style);
  font-weight: var(--caption-regular-font-weight);
  letter-spacing: var(--caption-regular-letter-spacing);
  line-height: var(--caption-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.project-details .div-wrapper-completed {
  align-items: center;
  background-color: var(--backgroundeventgreen);
  border-radius: 4px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 60px;
}

.project-details .text-wrapper-5-completed {
  color: var(--textprimaryblack);
  font-family: var(--caption-regular-font-family);
  font-size: var(--caption-regular-font-size);
  font-style: var(--caption-regular-font-style);
  font-weight: var(--caption-regular-font-weight);
  letter-spacing: var(--caption-regular-letter-spacing);
  line-height: var(--caption-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.project-details .text-wrapper-6 {
  align-self: stretch;
  color: var(--textprimarygray-1-disabled);
  font-family: var(--body-body-3-regular-font-family);
  font-size: var(--body-body-3-regular-font-size);
  font-style: var(--body-body-3-regular-font-style);
  font-weight: var(--body-body-3-regular-font-weight);
  letter-spacing: var(--body-body-3-regular-letter-spacing);
  line-height: var(--body-body-3-regular-line-height);
  position: relative;

}


.box {
  height: 230px;
  width: 100%;
}

.box .rectangle {
  background: linear-gradient(
    180deg,
    rgba(15, 15, 16, 0.2) 0%,
    rgb(15, 15, 16) 100%
  );
  height: 230px;
  
  position: fixed;
  top: 3px;
  width: 375px;
}
.iconlargeoutlinehamburger .VfWAy{
  background: none;

}