.reset-password .unsplash-4-eld-0-shwoo {
  background: url('../../../assets/images/Unsplash4Eld0Shwoo.jpeg') 50% / cover no-repeat;
  position: absolute;
  top: 0px;
  right: -166.6px;
  width: 541.6px;
  height: 812px;
}
.reset-password .rectangle-1 {
  background: linear-gradient(180.03deg, rgba(28, 28, 30, 0.2) 40.4%, rgba(28, 28, 30, 0.6) 52.06%, #1C1C1E 100%);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.reset-password .reset-password-1 {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--h-1-medium-font-family, 'Outfit');
  font-weight: var(--h-1-medium-font-weight, 500);
  font-size: var(--h-1-medium-font-size, 28px);
  line-height: var(--h-1-medium-line-height, 1.5);
  color: var(--text-primary-white, #FFFFFF);
}
.reset-password .set-anew-password-for-your-account {
  overflow-wrap: break-word;
  font-family: var(--body-body-2-regular-font-family, 'Outfit');
  font-weight: var(--body-body-2-regular-font-weight, 400);
  font-size: var(--body-body-2-regular-font-size, 14px);
  line-height: var(--body-body-2-regular-line-height, 1.571);
  color: var(--text-primary-gray-2-subtitle, #B7B7B9);
}
.reset-password .frame-3 {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.reset-password .prova-id {
  overflow-wrap: break-word;
  font-family: var(--body-body-2-regular-font-family, 'Outfit');
  font-weight: var(--body-body-2-regular-font-weight, 400);
  font-size: var(--body-body-2-regular-font-size, 14px);
  line-height: var(--body-body-2-regular-line-height, 1.571);
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.reset-password .input {
  border-radius: 8px;
  border: 1px solid var(--components-stroke-gray-1, #5B5B5D);
  background: var(--components-background-black, #3C3C3F);
  padding: 14px 15px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.reset-password .input-field {
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}
.reset-password .prova-id-1 {
  margin-right: 11px;
  width: 263px;
  overflow-wrap: break-word;
  font-family: var(--body-body-2-regular-font-family, 'Outfit');
  font-weight: var(--body-body-2-regular-font-weight, 400);
  font-size: var(--body-body-2-regular-font-size, 14px);
  line-height: var(--body-body-2-regular-line-height, 1.571);
  color: var(--text-primary-gray-1-disabled, #6F6F71);
}
.reset-password .vector {
  width: 17.5px;
  height: 12px;
}
.reset-password .icon-small-outline-show {
  margin: 5px 0;
  display: flex;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.reset-password .input-1 {
  border-radius: 8px;
  border: 1px solid var(--components-stroke-gray-1, #5B5B5D);
  background: var(--components-background-black, #3C3C3F);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 16.2px 14px 15px;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.reset-password .input-field-1 {
  width: 100%;
  box-sizing: border-box;
}
.reset-password .frame-427319476 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.reset-password .login {
  overflow-wrap: break-word;
  font-family: var(--button-large-font-family, 'Outfit');
  font-weight: var(--button-large-font-weight, 500);
  font-size: var(--button-large-font-size, 14px);
  line-height: var(--button-large-line-height, 1.286);
  color: var(--text-primary-black, #1C1C1E);
}
.reset-password .button {
  border-radius: 8px;
  background: var(--components-background-orange, #FFCC80);
  display: flex;
  padding: 15px 0;
  width: 100%;
  box-sizing: border-box;
}
.reset-password .frame-427319477 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.reset-password {
  background: #1C1C1E;
  display: flex;
  flex-direction: column;
  padding: 484px 25px 40px 25px;
  box-sizing: border-box;
}
